@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .title {
    color: #05060F;
  }

  .text {
    font-weight: 300;
    color: $black70;

    & + .text {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: $land-768) {
    padding: 60px 0;

    .row {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      justify-content: space-between;

      & + .row {
        margin-top: 115px;
      }
    }

    .title {
      margin-bottom: 40px;
    }
  }

  .image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: $land-767) {
    padding: 40px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      
      & + .row {
        margin-top: 80px;
      }
    }

    .title {
      margin-bottom: 20px;
    }
  }
}