@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .container {
    border-radius: 20px;
    background-color: #05060F;
  }

  .title {
    color: #fff;
  }

  .text {
    font-weight: 300;
    color: $white70;
  }

  .image {
    width: auto;
    height: 47px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: $land-768) {
    padding: 60px 0;

    .container {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      justify-content: space-between;
      align-items: center;
      min-height: 303px;
      padding: 60px;
    }

    .title {
      margin-top: 25px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 40px 20px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 32px 20px 80px;
    }

    .title {
      margin-top: 40px;
    }
  }
}