@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .title {
    color: #05060F;
  }

  .text {
    color: $black70;
    font-weight: 300;
  }

  .image {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }

  @media screen and (min-width: $land-768) {
    padding: 60px 0;

    .title {
      margin-bottom: 20px;
    }

    .text {
      max-width: 500px;
      margin-top: 40px;
    }

    .item {
      display: flex;
      justify-content: space-between;

      & +.item {
        margin-top: 35px;
      }
    }

    .image {
      width: 410px;
      height: auto;
      flex-shrink: 0;
    }

    .inner {
      max-width: 600px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 40px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

    .text {
      margin: 20px 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;

      &:nth-child(even) {
        flex-direction: column-reverse;
      }
    }

    .image {
      margin: 0 auto;
      width: 90%;
    }
  }
}