@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .container {
    background-color: #05060F;
    border-radius: 20px;
    overflow: hidden;
  }

  .title {
    color: #fff;
  }

  .text {
    color: #05060F;
    font-weight: 300;
    position: relative;
  }

  .item {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    &Title {
      color: #05060F;
      font-weight: 500;
    }
  }

  .item1 {
    background: #34F3CA;
  }

  .item2 {
    background: #FFF;
  }

  .item3 {
    background: #F8F963;
  }

  .item4 {
    background: #FFF;
  }

  .item5 {
    background: #839CB5;
  }

  @media screen and (min-width: $land-768) {
    padding: 0 0 60px;

    .container {
      position: relative;
      padding: 60px 80px;
      max-width: 1220px;
      display: flex;
    }

    .grid {
      display: flex;
      gap: 10px;

      &Left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
    }

    .icon {
      width: 62px;
      height: 72px;
      position: absolute;
      top: 10px;
      right: 20px;
    }

    .item {
      padding: 30px 20px;
    }

    .item1 {
      grid-column: span 2;
      min-height: 170px;
      justify-content: flex-end;
    }

    .item2 {
      width: 170px;
      justify-content: flex-end;
    }

    .item3 {
      width: 170px;
      justify-content: flex-start;
    }

    .item4 {
      grid-column: span 2;
      justify-content: flex-start;
    }

    .item5 {
      width: 280px;
      grid-row: span 2;
      grid-column: span 2;
      justify-content: space-around;
    }

    .left{
      max-width: 240px;
      display: flex;
      flex-direction: column;
    }

    .image {
      width: 139px;
      height: 63px;
    }

    .arrow {
      width: 163px;
      height: 46px;
      flex-shrink: 0;
      margin-top: auto;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 40px 20px;

    .container {
      padding: 40px 20px 50px;
    }

    .icon {
      width: 33px;
      height: 39px;
    }

    .title {
      order: 99;
      padding: 0 20px;
    }

    .item {
      min-height: 143px;
      justify-content: flex-end;
      padding: 15px;
    }

    .grid {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 40px;

      &Left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }

    .image {
      width: 107px;
      height: 48px;
      align-self: flex-end;
    }
  }
}