@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .item {
    position: relative;

    &:first-child {
      .icon {
        width: 51px;
        height: 103px;
        right: -20px;
        top: 10px;
      }
    }

    &:last-child {
      .icon {
        width: 78px;
        height: 39px;
        right: 20px;
        top: 45px;
      }
    }
  }

  .icon {
    position: absolute;
  }

  @media screen and (min-width: $land-768) {
    padding: 60px 0;

    .container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 500px);
      justify-content: space-between;
    }

    .title {
      margin-bottom: 40px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 40px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }
  }
}