@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .container {
    background-color: #05060F;
    border-radius: 20px;
    overflow: hidden;
  }

  .title {
    color: #fff;
  }

  .text {
    color: $white70;
    font-weight: 300;
  }

  .subtitle {
     color: #fff;
    font-family: $manrope;
    font-weight: 500;
  }

  .image {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &Item {
      padding-left: 18px;
      color: #fff;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $colored;
        width: 4px;
        height: 4px;
      }
    }
  }

  @media screen and (min-width: $land-768) {
    padding: 0 0 60px;

    .container {
      min-height: 655px;
      // display: flex;
      position: relative;
      gap: 10px;
      padding: 77px 60px 40px 80px;
      max-width: 1220px;
      display: flex;
      flex-direction: column;
    }

    .title {
      // margin-bottom: 10px;
    }

    .text, .subtitle {
      max-width: 460px;
    }

    .text {
      margin-top: 30px;
    }

    .image {
      position: absolute;
      max-width: 629px;
      max-height: 568px;
      flex-shrink: 0;
      right: 0;
      bottom: 0;
    }

    .bot {
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      gap: 80px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 0 20px 40px;

    .container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px 20px 0;
    }

    .text {
      margin: 10px 0;
    }

    .image {
      margin-top: 15px;
      order: 99;
    }
  }
}