@import './_variables';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-64-32 {
    font-family: $manrope;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
}

.font-48-32 {
    font-family: $manrope;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
}

.font-48-24 {
    font-family: $manrope;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
}

.font-36-20 {
    font-family: $manrope;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
}

.font-32, .font-32-20 {
    font-family: $manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.font-24-16 {
    font-family: $manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
}

.font-20-14, .font-20-16, .font-20-12 {
    font-size: 20px;
    line-height: 120%;
}

.font-18-14 {
    font-size: 18px;
    line-height: 150%;
}

.font-16-14, .font-16, .font-16-13, .font-16-12 {
    font-size: 16px;
    line-height: 150%;
}

.font-14, .font-14-12, .font-14-13 {
    font-size: 14px;
    line-height: 150%;
}

@media screen and (max-width: $land-768) {

    .font-64-32, .font-48-32 {
        font-size: 32px;
    }

    .font-48-24 {
        font-size: 24px;
    }

    .font-32-20 {
        font-size: 20px;
    }

    .font-24-16, .font-20-16 {
        font-size: 16px;
    }

    .font-20-14, .font-18-14, .font-16-14 {
        font-size: 14px;
    }

    .font-14-13, .font-16-13 {
        font-size: 13px;
    }

    .font-20-12, .font-16-12, .font-14-12 {
        font-size: 12px;
    }
}