$colored: #F8F963;
$seccolor: #34F3CA;
$white70: rgba(255, 255, 255, 0.70);
$black70: rgba(0, 0, 0, 0.70);
$maintext: $black70;

$inter: "Inter", sans-serif;
$manrope: "Manrope", sans-serif;

$max-width: 1920px;
$main-width: 1220px;
$landnav: 1099px;
$land-992: 992px;
$land-769: 769px;
$land-768: 768px;
$land-767: 767px;
$minwidth: 375px;