@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .container {
    background-color: #05060F;
    border-radius: 20px;
  }

  .title {
    color: $colored;
  }

  .text {
    color: $white70;
    font-weight: 300;
  }

  .image {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }

  .subtitle {
    font-weight: 500;
    color: #fff;
  }

  @media screen and (min-width: $land-768) {
    padding: 60px 0;

    .container {
      position: relative;
      gap: 20px;
      padding: 80px 60px;
      max-width: 1220px;
      overflow: hidden;
    }

    .image {
      position: absolute;
      max-height: 356px;
      max-width: 445px;
      right: 2%;
      bottom: 0;
    }

    .subtitle {
      margin: 20px 0 12px;
    }

    .text {
      max-width: 400px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 40px 20px;

    .container {
      display: flex;
      flex-direction: column;
      padding: 40px 20px 0;
    }

    .title, .text {
      padding-right: 30px;
    }

    .subtitle {
      margin: 6px 0 20px;
    }

    .image {
      order: 99;
      margin-top: 60px;
    }
  }
}