@import '../../../styles/variables';

.wrap {
  width: 100%;
  position: relative;
  padding: 90px 0;
}

.responsiveTable {
  width: 100%;
  margin: 0 auto;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.title {
  color: $colored;
}

.text {
  color: $maintext;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: transparent;
  color: #05060F;
  border-radius: 20px;
  border: 1px solid #839CB5;
  font-family: $manrope;

  b {
    font-size: 24px;
    text-transform: uppercase;
  }

  &:first-child {
    display: none;
  }

  &.active {
    background-color: #05060F;
    border-color: #05060F;
    color: #fff;
  }
}

.flex {
  display: flex;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  padding: 13px 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  max-width: 305px;
  flex: 1 1 auto;
}

.head {
  .row {
    text-align: center;
    font-size: 14px;
    color: $black70;
    flex-direction: column;
    font-weight: 700;

    &:first-child {
      max-width: 300px;
      width: 50%;
      align-items: flex-start;
      color: $black70;
      font-size: 14px;
      font-weight: 700;
      line-height: 150%;
    }

    &:not(:first-child) {
      color: rgba(0, 0, 0, 0.70);
      // background-color: $colored;
    }
  }
}

.body {
  .flex {

    &:nth-child(1) {
      .row:not(:first-child) {
        font-weight: 500;
        color: #131313;
      }
    }

    &.last {
      border-bottom: 0;
    }

    .row {
      color: $maintext;
      width: 20%;
      font-weight: 300;
      font-size: 14px;

      &:first-child {
        max-width: 300px;
        // width: 100%;
        justify-content: flex-start;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: $land-768) {
  .tabs {
    display: none;
  }

  .head {
    gap: 20px;

    .row {
      font-family: $manrope;

      &:first-child {
        padding-left: 20px;
      }

      &.row-1 {
        border-radius: 20px;
        border: 1px solid #839CB5;
      }

      &.row-2 {
        border-radius: 20px;
        background: #F8F963;
      }

      &.row-3 {
        border-radius: 20px;
        background: #839CB5;
      }

      &.row-4 {
        border-radius: 20px;
        background: #131313;
        color: #fff;
      }

      b {
        font-size: 24px;
      }
    }
  }

  .body .flex {
    padding-left: 20px;

    &:nth-child(even) {
      background-color: #fff;
      border-radius: 20px;
    }
  }

  .body, .head {
    .row {
      width: 20%;
      &:first-child {
        width: 20%;
        text-align: left;
        flex-shrink: 0;
        // padding: 0;
      }
    }
  }
}

@media (max-width: $land-767) {
  .wrap {
    padding: 50px 0;
  }

  .body {
    .flex {
      .row {
        max-width: unset;
        font-size: 14px;
        width: 50%;

        &:first-child {
          display: block;
          width: 50%;
          max-width: unset;
          background-color: transparent;
        }
      }
    }
  }

  .title {
    margin-bottom: 30px;
  }

  .row {
    align-items: center;
    justify-content: center;

    &:first-child {
      text-align: left;
    }
    
    &:not(.activeColumn) {
      display: none;
    }

    &:first-child {
      display: flex;
    }
  }

  .tab {
    font-size: 14px;

    b {
      font-size: 16px;
    }
  }

  .row.activeColumn {
    display: flex;
    width: 50%;
    max-width: unset;
  }
}