@import "../../../styles//variables";

.wrap {
  position: relative;
  width: 100%;

  .title {
    color: #05060F;
  }

  .subtitle {
    text-align: center;
    font-weight: 500;
    color: #05060F;
    font-family: $manrope;
    line-height: 150%;
  }

  .text {
    font-weight: 300;
    color: $black70;

    & + .text {
      margin-top: 20px;
    }
  }

  .right {
    border-radius: 20px;
    background-color: #FFF;
    position: relative;

    .title {
      text-align: center;
    }
  }

  .check {
    flex-shrink: 0;
  }

  .list {
    font-weight: 400;
    color: #05060F;
    border-radius: 20px;
    background-color: #E8F1FA;
    padding: 11px 50px;
    text-align: center;

    b {
      font-weight: 600;
    }
  }

  .line {
    width: 133px;
    height: 4px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .arrow {
    position: absolute;

    &1 {
      transform: scaleX(-1);
    }
  }

  @media screen and (min-width: $land-768) {
    padding: 60px 0;

    .container {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      justify-content: space-between;
    }

    .item .title {
      margin-bottom: 40px;
    }

    .right {
      padding: 40px 40px 50px;

      .title {
        margin: 20px 0 40px;
      }
    }

    .subtitle {
      margin-bottom: 40px;
    }

    .check {
      width: 28px;
      height: 23px;
    }

    .list {
      max-width: 310px;
      margin: 0 auto;
    }

    .arrow1 {
      left: 34px;
      top: 173px;
    }

    .arrow2 {
      right: 33px;
      bottom: 109px;
    }
  }
  
  @media screen and (max-width: $land-767) {
    padding: 40px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .item .title {
      margin-bottom: 20px;
    }

    .subtitle {
      margin-bottom: 23px;
    }

    .check {
      width: 23px;
      height: 19px;
    }

    .list {
      margin-top: 12px;
      padding-left: 10px;
      min-height: 64px;
    }

    .right {
      padding: 30px 40px;
    }

    .arrow {
      width: 45px;
      height: 74px;

      &1 {
        top: 120px;
        left: -3px;
      }

      &2 {
        top: 200px;
        right: -3px;
      }
    }
  }
}